@font-face {
	font-family: 'Swis721 Roman BT';
	src: url('Swiss721BT-RomanCondensed.eot');
	src: url('Swiss721BT-RomanCondensed.eot?#iefix') format('embedded-opentype'),
		url('Swiss721BT-RomanCondensed.woff') format('woff'),
		url('Swiss721BT-RomanCondensed.ttf') format('truetype'),
		url('Swiss721BT-RomanCondensed.svg#Swiss721BT-RomanCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}