@font-face {
	font-family: 'Swis721 Cn BT';
	src: url('Swiss721BT-BoldCondensed.eot');
	src: url('Swiss721BT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('Swiss721BT-BoldCondensed.woff') format('woff'),
		url('Swiss721BT-BoldCondensed.ttf') format('truetype'),
		url('Swiss721BT-BoldCondensed.svg#Swiss721BT-BoldCondensed') format('svg');
	font-weight: bold;
	font-style: normal;
}