@charset "UTF-8";
/* CONFIG InstantUp */
/* obs.: Arquivo de Configura├º├úo de Express├úo */
/* cores CEg */
/* attr CEg */
a {
  text-decoration: none;
  color: #353535; }

p {
  line-height: 26px; }

h1 {
  font-size: 6em; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.5em; }

img {
  max-width: 100%; }

input {
  outline: none;
  box-shadow: none !important; }

.lk-azul {
  color: #2DAAF1;
  text-decoration: underline; }

.bgVerde {
  background-color: #01a89e; }

/* cores CEps */
/* tamanhos CCg */
.wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.wrap2 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px; }

/* tamanhos CCm */
/* fx ACM */
@keyframes show-in-translateY {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  75% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }
@keyframes show-in-txt-bt {
  0% {
    background-position-x: calc(100% - 500px);
    background-position-y: 500px;
    text-indent: -500px;
    opacity: 0;
    right: -100%; }
  80% {
    opacity: 0.4;
    right: -20px;
    background-position-y: 500px; }
  100% {
    opacity: 1;
    text-indent: 0px;
    background-position-y: center;
    background-position-x: calc(100% - 20px); } }
@keyframes show-in {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes border-dance-title {
  0% {
    right: 100%; }
  70% {
    right: 0; }
  100% {
    right: -30px; } }
@keyframes logo-size {
  0% {
    width: 440px;
    opacity: 0; }
  100% {
    width: 390px;
    opacity: 1; } }
@keyframes cool-border {
  0% {
    background-position: 0px 0px, 0 bottom, 0px 0px, right 0px;
    background-size: 0px 0px, 1px 1px, 0px 0px, 0px 0px; }
  80% {
    background-size: 0px 0px, 40px 2px, 0px 0px, 0px 0px; }
  100% {
    background-position: 0 0, -105px bottom, 0px 0px, right 0px;
    background-size: 0px 0px, 100% 2px, 0px 0px, 0px 0px; } }
@keyframes border-size-dance {
  0% {
    background-position: 0px 0px, 0 bottom, 0px 0px, right 0px;
    width: 0;
    height: 0;
    top: 50%;
    right: 50%; }
  30% {
    width: calc(100% - 70px);
    height: calc(100% - 360px);
    top: 75px;
    right: 0; }
  100% {
    background-position: 105px 0px, -105px bottom, 0px -105px, right 105px; } }
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 0 bottom, 0px 0px, right 0px;
    width: 0;
    left: 0; }
  30% {
    width: 1000px;
    left: calc(100% + 100px); }
  100% {
    background-position: 105px 0px, -105px bottom, 0px -105px, right 105px; } }
@keyframes red-shape {
  0% {
    height: 0;
    width: 0;
    top: 50%;
    right: 200px;
    opacity: 0; }
  30% {
    opacity: 1;
    top: 0;
    height: 100%;
    right: 300px;
    width: 450px; }
  50% {
    opacity: 0.3;
    right: 85px; }
  100% {
    opacity: 1;
    width: 320px; } }
@keyframes slide-skew-left {
  0% {
    left: 100%;
    transform: skewX(0deg); }
  80% {
    left: 100%; }
  90% {
    transform: skewX(0deg);
    left: 80px; }
  100% {
    transform: skewX(68deg); } }
@keyframes red-shape-right {
  0% {
    height: 0;
    width: 0;
    top: 50%;
    right: 200px;
    opacity: 0; }
  30% {
    opacity: 1;
    top: 0;
    height: 100%;
    right: 300px;
    width: 450px; }
  50% {
    opacity: 0.3;
    right: 0; }
  100% {
    opacity: 1;
    width: 320px; } }
@keyframes toggle-right {
  0% {
    opacity: 0;
    left: -50px; }
  100% {
    opacity: 1;
    left: 0px; } }
@keyframes toggle-left {
  0% {
    opacity: 0;
    right: -50px; }
  100% {
    opacity: 1;
    right: 0px; } }
@keyframes toggle-right-bg {
  0% {
    opacity: 0;
    right: -100px; }
  100% {
    opacity: 1;
    right: 0px; } }
@keyframes toggle-right-bg-mbl {
  0% {
    opacity: 0;
    right: -100px;
    width: 0%; }
  100% {
    opacity: 1;
    right: 0;
    width: calc(100% - 50px); } }
@keyframes blink-play {
  0% {
    background-size: 80px;
    background-position: center 35px;
    opacity: 0; }
  90% {
    background-size: 80px;
    background-position: center 35px;
    opacity: 0; }
  100% {
    background-size: 100px;
    background-position: center 20px;
    opacity: 1; } }
@keyframes fade-down {
  0% {
    height: 0; }
  90% {
    height: 0; }
  100% {
    height: 6px; } }
@keyframes border-top {
  0% {
    width: 0; }
  70% {
    width: 0; }
  100% {
    width: 80%; } }
.blurContent {
  transition: 0.3s;
  filter: blur(0); }

/* legenda */
/* CEg  (Arquivo de Configura├º├úo de Express├úo Geral) */
/* CEps (Configura├º├úo de Express├úo de Produto e Servi├ºo) */
/* CCg  (Configura├º├úo Express├úo Geral) */
/* CCm  (Configura├º├úo Express├úo Mobile) */
/* floats */
.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none !important; }

.db {
  display: block; }

.di {
  display: inline; }

.dn {
  display: none; }

.dib {
  display: inline-block; }

.cb {
  clear: both; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.pf {
  position: fixed; }

/* offset */
.oh {
  overflow: hidden; }

.ov {
  overflow: visible; }

/* type */
/* margin */
.mgz {
  margin: 0; }

.mgc {
  margin: 0 auto; }

.mg {
  margin: 10px; }

.mg1x0 {
  margin: 10px 0; }

.mg2x {
  margin: 20px; }

.mg3x {
  margin: 30px; }

.mg4x {
  margin: 40px; }

.mg5x {
  margin: 50px; }

.mg10x0 {
  margin: 100px 0; }

.mg2x0 {
  margin: 20px 0; }

.mg3x0 {
  margin: 30px 0; }

.mg4x0 {
  margin: 40px 0; }

.mg5x0 {
  margin: 50px 0; }

.mg0x2 {
  margin: 0 20px; }

.mg0x3 {
  margin: 0 30px; }

.mg0x4 {
  margin: 0 40px; }

.mg0x5 {
  margin: 0 50px; }

.mg1x00 {
  margin: 10px 0 0; }

.mg2x00 {
  margin: 20px 0 0; }

.mg3x00 {
  margin: 30px 0 0; }

.mg4x00 {
  margin: 40px 0 0; }

.mg5x00 {
  margin: 50px 0 0; }

/* padding */
.pdz {
  padding: 0; }

.pd {
  padding: 10px; }

.pd1x0 {
  padding: 20px 0; }

.pd2x {
  padding: 20px; }

.pd3x {
  padding: 30px; }

.pd4x {
  padding: 40px; }

.pd5x {
  padding: 50px; }

.pd10x0 {
  padding: 100px 0; }

.pd2x0 {
  padding: 20px 0; }

.pd3x0 {
  padding: 30px 0; }

.pd4x0 {
  padding: 40px 0; }

.pd5x0 {
  padding: 50px 0; }

.pd0x2 {
  padding: 0 20px; }

.pd0x3 {
  padding: 0 30px; }

.pd0x4 {
  padding: 0 40px; }

.pd0x5 {
  padding: 0 50px; }

.pd2x1 {
  padding: 20px 10px; }

.pd3x1 {
  padding: 30px 10px; }

.pd4x1 {
  padding: 40px 10px; }

.pd5x1 {
  padding: 50px 10px; }

.pd1x00 {
  margin-top: 10px 0 0; }

.pd2x00 {
  padding: 20px 0 0; }

.pd3x00 {
  padding: 30px 0 0; }

.pd4x00 {
  padding: 40px 0 0; }

.pd5x00 {
  padding: 50px 0 0; }

.pd0x01 {
  margin-top: 0 0 10px 0; }

.pd0x02 {
  padding: 0 0 20px 0; }

.pd0x03 {
  padding: 0 0 30px 0; }

.pd0x04 {
  padding: 0 0 40px 0; }

.pd0x05 {
  padding: 0 0 50px 0; }

/* alinhamento */
.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.taj {
  text-align: justify; }

/* dimencoes */
.c1p {
  width: 100%; }

.c10p {
  width: 10%; }

.c20p {
  width: 20%; }

.c25p {
  width: 25%; }

.c30p {
  width: 30%; }

.c40p {
  width: 40%; }

.c50p {
  width: 50%; }

.c60p {
  width: 60%; }

.c70p {
  width: 70%; }

.c80p {
  width: 80%; }

.c90p {
  width: 90%; }

*:focus {
  outline: none;
  text-decoration: none !important; }

html {
  height: 100%; }
  html.dontScroll {
    overflow: hidden; }
    html.dontScroll .overlayMenu {
      display: block; }
    html.dontScroll .blurContent {
      filter: blur(1px); }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #0f0f0f;
  font-family: "Playfair Display", serif;
  font-weight: 400; }
  body.popUpTrue .blurContent {
    filter: blur(2px); }
  body.popUpTrue .overClickPopUp {
    transform: translateY(0%); }
  body.popUpTrue #mediaPopUp {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1; }
  body.popUpTrue .formPopContainer {
    transform: translateY(0%); }

#main {
  min-height: 100%;
  overflow: hidden; }

.overlayMenu {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 1; }

/* header site */
#header {
  padding: 38px 0 27px;
  z-index: 10;
  width: 100%; }
  #header.capaSite:before {
    top: -100%; }
  #header.active .containerNav {
    top: 0%; }

.containerNav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.6s; }
  .containerNav .mainNav {
    background: #fff;
    padding: 0;
    text-align: center;
    margin: 0; }
    .containerNav .mainNav li {
      margin: 50px 0 50px -10px;
      display: inline-block; }
      .containerNav .mainNav li a {
        color: #000;
        text-transform: uppercase;
        padding: 10px 40px;
        display: inline-block;
        font-size: 0.9em;
        font-family: "Swis721 Hv BT";
        position: relative; }
      .containerNav .mainNav li .containerUls {
        max-height: calc(100% - 140px);
        background: #fff;
        opacity: 0;
        overflow: auto;
        width: 100%;
        left: 0;
        top: -100%;
        position: fixed;
        text-align: center;
        z-index: 2;
        padding: 30px 0 10px; }
        .containerNav .mainNav li .containerUls ul {
          padding: 20px;
          display: inline-block;
          vertical-align: top;
          text-align: left;
          transform: translateY(-10px); }
          .containerNav .mainNav li .containerUls ul span {
            font-family: "Swis721 Hv BT";
            text-transform: uppercase;
            display: block;
            max-width: 100%;
            padding: 5px 0;
            margin: 0;
            border-bottom: 1px solid #E0E0E0;
            font-size: 0.8em;
            position: relative; }
          .containerNav .mainNav li .containerUls ul li {
            margin: 4px 30px 0 0;
            list-style: none;
            transition: 0.2s ease-in-out;
            display: block;
            opacity: 0; }
            .containerNav .mainNav li .containerUls ul li a {
              line-height: 22px;
              transition: 0.2s;
              border: none;
              padding: 0;
              display: block; }
              .containerNav .mainNav li .containerUls ul li a:hover {
                color: #e6393b; }
      .containerNav .mainNav li.active a:after {
        width: calc(100% - 80px);
        height: 2px;
        bottom: 0;
        content: " ";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #000; }
      .containerNav .mainNav li.active .containerUls {
        opacity: 1;
        top: 100px; }
        .containerNav .mainNav li.active .containerUls ul {
          transform: translateX(0); }
          .containerNav .mainNav li.active .containerUls ul li {
            opacity: 1; }
        .containerNav .mainNav li.active .containerUls a {
          color: #000;
          font-family: "Swis721 Hv BT";
          text-transform: none;
          padding: 5px 0;
          display: block;
          border: none;
          font-family: "Swis721 Lt BT"; }
          .containerNav .mainNav li.active .containerUls a:after {
            display: none; }
  .containerNav .bkLink {
    position: fixed;
    top: 160px;
    display: none; }

.bkLink {
  float: left;
  color: #888;
  position: relative;
  padding: 5px;
  left: 38px;
  z-index: 2;
  top: 20px;
  font-family: "Swis721 Cn BT" !important;
  font-size: 0.8em;
  text-transform: uppercase; }
  .bkLink:before {
    background: #888;
    width: 50px;
    height: 1px;
    top: 16px;
    position: absolute;
    left: -54px;
    content: " "; }

.closeCntUls {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 37px;
  width: 40px;
  color: #000;
  z-index: 5;
  display: none; }
  .closeCntUls:after, .closeCntUls:before {
    position: absolute;
    background: #000;
    left: 50%;
    top: 50%;
    transition: 0.2s;
    content: " ";
    transform: translate(-50%, -50%); }
  .closeCntUls:after {
    height: 10px;
    width: 2px; }
  .closeCntUls:before {
    width: 10px;
    height: 2px; }
  .closeCntUls:hover {
    background: #ebebeb; }

#logo-site {
  display: inline-block;
  position: relative;
  position: relative;
  z-index: 4;
  margin-left: 38px; }
  #logo-site h1 {
    margin: 0;
    float: left; }
    #logo-site h1 img {
      animation: logo-size 0.2s ease;
      width: 200px; }

.capaSite #logo-site img {
  width: 320px; }

#openNav.noBg,
#closeNav.noBg {
  background: none; }

#openNav,
#closeNav {
  position: fixed;
  z-index: 99;
  padding: 15px;
  font-size: 1.2em;
  background: #fff;
  color: #0f0f0f;
  top: 45px;
  right: 45px;
  font-family: "Swis721 Hv BT";
  line-height: 1em;
  transition: 0.2s;
  animation: show-in 1s; }
  #openNav div,
  #closeNav div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-50%);
    width: 40px;
    height: 4px;
    margin-left: 5px;
    background: #0f0f0f;
    transition: height 0s;
    transition: 0.4s; }
    #openNav div:after, #openNav div:before,
    #closeNav div:after,
    #closeNav div:before {
      transition: 0.2s;
      background: #0f0f0f;
      width: 40px;
      height: 4px;
      position: absolute;
      top: 10px;
      content: " "; }
    #openNav div:before,
    #closeNav div:before {
      top: -10px; }
  #openNav.active div,
  #closeNav.active div {
    height: 0; }
    #openNav.active div:before,
    #closeNav.active div:before {
      transform: rotate(-45deg);
      top: -4px; }
    #openNav.active div:after,
    #closeNav.active div:after {
      transform: rotate(45deg);
      top: -4px; }
  #openNav.active:hover,
  #closeNav.active:hover {
    color: #e6393b; }
    #openNav.active:hover div,
    #closeNav.active:hover div {
      background: #e6393b; }
      #openNav.active:hover div:after, #openNav.active:hover div:before,
      #closeNav.active:hover div:after,
      #closeNav.active:hover div:before {
        background: #e6393b; }

#openNav {
  display: block; }

#closeNav {
  color: #01a89e;
  background: #fff; }

#backgroundSlider {
  overflow: hidden;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block; }
  #backgroundSlider div {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    display: block; }
    #backgroundSlider div img {
      visibility: hidden;
      opacity: 0; }
    #backgroundSlider div.current {
      z-index: 10; }
  #backgroundSlider .bx-viewport, #backgroundSlider .bx-wrapper {
    position: relative;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0; }
  #backgroundSlider .bxslider, #backgroundSlider .bxslider li {
    height: 100% !important; }
  #backgroundSlider .bxslider li {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }
  #backgroundSlider .bx-wrapper .bx-viewport {
    border: none !important; }

.lkMais {
  background: url(../img/button-left.png) center right no-repeat;
  padding: 0 45px 0 0;
  font-family: "Swis721 Hv BT";
  line-height: 42px;
  height: 42px;
  display: inline-block;
  color: #0f0f0f;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: 0.2s; }
  .lkMais:hover {
    color: #e6393b;
    background: url(../img/button-left-vermelho.png) center right no-repeat; }

#linksDestaques {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0; }
  #linksDestaques .itemDestHome {
    width: calc(100% / 3);
    overflow: hidden;
    position: relative;
    float: left;
    height: 500px;
    animation: toggle-right 1s ease-in-out; }
    #linksDestaques .itemDestHome:after {
      width: 0%;
      transition: 0.3s;
      opacity: 1;
      height: 100%;
      position: absolute;
      bottom: 0;
      background: rgba(242, 60, 63, 0.8);
      animation: toggle-right-bg 1s ease-in-out;
      content: ""; }
    #linksDestaques .itemDestHome:hover:after, #linksDestaques .itemDestHome.current:after {
      right: 0;
      left: auto;
      z-index: -1;
      width: 70%; }
  #linksDestaques .centerFix {
    left: 50%;
    max-width: 342px;
    padding-top: 20px;
    height: 100%;
    position: relative;
    transform: translateX(-50%); }
  #linksDestaques h2 {
    font-size: 4.1em;
    margin: 0; }
    #linksDestaques h2 a {
      color: #000; }
  #linksDestaques span {
    font-size: 1.6em;
    left: 0;
    font-family: "Swis721 Hv BT";
    display: block;
    margin: 10px 30px; }
  #linksDestaques .lkMais {
    position: absolute;
    bottom: 36px; }

#article {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  float: left; }

.borderTop {
  background: #cccccc;
  height: 2px;
  width: 80%;
  position: absolute;
  top: 0;
  z-index: -1;
  animation: border-top 2s ease-in-out; }

.innerMedia {
  margin-right: 50px;
  position: relative;
  z-index: 1; }

#mediaContainer {
  padding: 37px 50px 143px 100px;
  position: relative; }
  #mediaContainer .mediaImage {
    float: right;
    background: #f3f3f3;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #cccccc;
    max-width: 770px;
    overflow: hidden; }
    #mediaContainer .mediaImage:before {
      background: #e6393b;
      height: 100%;
      width: 320px;
      position: absolute;
      right: 85px;
      top: 0;
      z-index: -1;
      content: " ";
      animation: red-shape 3s ease-in-out; }
    #mediaContainer .mediaImage:after {
      z-index: -2;
      position: absolute;
      content: " ";
      top: 75px;
      right: 0;
      width: calc(100% - 70px);
      height: calc(100% - 360px);
      background: linear-gradient(90deg, #000 50%, transparent 50%) repeat-x scroll 1px 0px/5px 1px, linear-gradient(90deg, #000 50%, transparent 50%) repeat-x scroll 200px bottom/5px 1px, linear-gradient(0deg, #000 50%, transparent 50%) repeat-y scroll 0 0/1px 5px, transparent linear-gradient(0deg, #000 50%, transparent 50%) repeat-y scroll right 0/1px 5px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 7px 1px, 7px 1px, 1px 7px, 1px 7px;
      background-position: 0px 0px, 200px bottom, 0px 100px, right 0px;
      animation: border-size-dance 6s ease-in-out; }
    #mediaContainer .mediaImage a {
      display: block;
      position: relative; }
      #mediaContainer .mediaImage a:before {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        transition: 0.4s;
        content: " ";
        background: rgba(230, 57, 59, 0.16); }
      #mediaContainer .mediaImage a:hover:before {
        opacity: 1; }
      #mediaContainer .mediaImage a:hover span {
        background-size: 100px;
        background-position: center 20px; }
    #mediaContainer .mediaImage picture {
      position: relative;
      display: block; }
    #mediaContainer .mediaImage img {
      display: block;
      max-width: 720px;
      width: 100%; }
    #mediaContainer .mediaImage span {
      position: absolute;
      transition: 0.4s;
      z-index: 2;
      font-family: "Swis721 Lt BT";
      top: 50%;
      font-size: 1.3em;
      padding: 140px 0 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../img/media-play.png) no-repeat center 35px;
      background-size: 80px;
      color: #fff;
      animation: blink-play 4s ease-in-out; }
    #mediaContainer .mediaImage strong {
      font-family: "Swis721 Hv BT"; }
  #mediaContainer .brush-up-arrow {
    bottom: 230px;
    position: absolute;
    right: -150px;
    width: 92px; }
  #mediaContainer .skewLine {
    background: #ebebeb;
    bottom: 90px;
    height: 18px;
    left: 60px;
    position: absolute;
    transform: skewX(68deg);
    width: 70%;
    z-index: -2; }

.relacionados {
  float: left;
  position: relative;
  margin-left: 135px; }
  .relacionados .brush-down-arrow {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 52px;
    transform: translateX(-50%);
    margin-left: -60px; }
  .relacionados h2 {
    font-size: 3.5em;
    margin: 70px 0 50px; }
  .relacionados .relatedItem {
    width: 50%;
    float: left; }
    .relacionados .relatedItem a {
      display: inline-block; }
    .relacionados .relatedItem img {
      width: 140px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }
    .relacionados .relatedItem div {
      display: inline-block;
      vertical-align: middle;
      color: #b0b0b0;
      line-height: 1.5em; }
      .relacionados .relatedItem div span {
        font-weight: 900;
        display: block;
        font-size: 1.6em; }
    .relacionados .relatedItem .lkMais {
      display: inline-block;
      text-align: center;
      margin-left: 60px;
      background-size: 30px;
      font-size: 1em;
      padding-right: 35px; }

#tratamento .mainArticle header h1 {
  max-width: 85%; }

.ShowMobile {
  display: none; }

#problema .innerMedia {
  margin-right: 0; }
#problema .mainArticle {
  padding: 170px 0 130px 150px; }
  #problema .mainArticle:before {
    background: #e6e6e6;
    content: " ";
    height: calc(100% - 220px);
    left: 50px;
    position: absolute;
    top: -100px;
    width: 2px; }
  #problema .mainArticle header {
    padding-bottom: 72px; }
    #problema .mainArticle header h1 {
      min-height: 0;
      max-width: calc(100% - 50% - 200px); }
      #problema .mainArticle header h1:after {
        right: -50px;
        left: auto;
        bottom: 50%;
        transform: translateY(50%);
        animation: border-dance-title 2s ease-in-out; }
  #problema .mainArticle .mainTxt:before {
    display: none; }
  #problema .mainArticle .duvidasCnt {
    clear: both;
    margin-left: -180px; }
    #problema .mainArticle .duvidasCnt ul li {
      width: 50%;
      float: left; }
      #problema .mainArticle .duvidasCnt ul li .respostaInt {
        width: calc(100% - 120px); }
#problema #mediaContainer {
  padding: 37px 0 143px; }
  #problema #mediaContainer .mediaImage {
    max-width: calc(100% - 220px);
    padding: 35px 5px 35px 35px;
    border-radius: 12px 0 0 12px; }
    #problema #mediaContainer .mediaImage:before {
      right: 0;
      animation: red-shape-right 3s ease-in-out; }
    #problema #mediaContainer .mediaImage:after {
      width: calc(100% - 139px);
      height: calc(100% - 150px);
      animation: border-size-dance 4s ease-in-out; }
  #problema #mediaContainer .brush-up-arrow {
    right: calc(100% - 120px);
    animation: show-in 4s ease-in-out; }
  #problema #mediaContainer .skewLine {
    left: 80px;
    bottom: 110px;
    animation: slide-skew-left 4s ease-in-out; }

.overClickPopUp {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.16);
  left: 0;
  top: 0;
  z-index: 11;
  transform: translateY(100%);
  transition: transform 0.4s; }

#mediaPopUp {
  position: fixed;
  z-index: 12;
  width: 720px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transition: all 0.4s;
  transform: translate(-100%, -100%);
  visibility: hidden;
  opacity: 0;
  max-height: 100%;
  overflow: auto; }
  #mediaPopUp .closePopUp {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #db3638;
    color: #fff;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-family: "Swis721 Hv BT";
    font-size: 25px;
    z-index: 10; }
    #mediaPopUp .closePopUp:before {
      content: "X"; }
  #mediaPopUp #marcarConsulta {
    padding: 0;
    text-align: center; }
    #mediaPopUp #marcarConsulta .txtLeft {
      float: none;
      max-width: 100%;
      text-align: center;
      padding: 20px;
      width: calc(100% - 40px);
      color: #fff; }
      #mediaPopUp #marcarConsulta .txtLeft p {
        display: none; }
    #mediaPopUp #marcarConsulta .txtAlter {
      display: block; }

.formPopContainer {
  transform: translateY(-100%);
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #e6393b;
  text-align: center;
  padding: 0 0 10px 0;
  transition: transform 0.6s; }
  .formPopContainer span {
    color: #fff;
    font-size: 1.2em;
    font-family: "Swis721 Roman BT"; }
  .formPopContainer h2 {
    font-weight: 400;
    margin: 10px 0 0;
    font-size: 3em;
    color: #fff; }
  .formPopContainer .formConsulta {
    border: none;
    width: 100%;
    max-width: 100%;
    padding: 0; }
    .formPopContainer .formConsulta .label-cnt-form {
      display: inline-block;
      max-width: 100%;
      width: auto;
      padding: 0 20px; }
      .formPopContainer .formConsulta .label-cnt-form label input {
        float: none;
        margin: 20px 0;
        width: calc(100% - 60px); }
    .formPopContainer .formConsulta input[type="submit"] {
      background-image: url(../img/button-left-white.png);
      background-position: 190px center;
      border: medium none !important;
      color: #fff;
      cursor: pointer;
      font-size: 1.6em;
      height: auto;
      line-height: 78px;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
      text-indent: -30px;
      width: 100%; }
    .formPopContainer .formConsulta .bt-cnt-submit {
      border: 1px dashed #fff;
      display: inline-block;
      float: none;
      height: 75px;
      margin-bottom: 10px;
      margin-top: 0;
      width: 300px;
      transition: background 0.2s; }
      .formPopContainer .formConsulta .bt-cnt-submit:hover {
        background: #ff4143; }

.videoWrapper {
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  position: relative;
  z-index: 1; }

.videoWrapper iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.mainArticle {
  padding: 170px 20px 130px 50%;
  position: relative; }
  .mainArticle header {
    position: relative; }
    .mainArticle header:before {
      background: #e6393b;
      bottom: -13px;
      content: " ";
      height: 6px;
      left: 50px;
      position: absolute;
      width: 100px;
      animation: fade-down 2s ease-in-out; }
    .mainArticle header h1 {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 6em;
      display: inline-block;
      min-height: 124px;
      position: relative;
      line-height: 1.1em;
      margin: 0; }
      .mainArticle header h1:after {
        width: 1000px;
        height: 187px;
        background: linear-gradient(90deg, #000 50%, transparent 50%) repeat-x scroll 1px 0px/5px 1px, linear-gradient(90deg, #000 50%, transparent 50%) repeat-x scroll 200px bottom/5px 1px, linear-gradient(0deg, #000 50%, transparent 50%) repeat-y scroll 0 0/1px 5px, transparent linear-gradient(0deg, #000 50%, transparent 50%) repeat-y scroll right 0/1px 5px;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 7px 1px, 7px 1px, 1px 7px, 1px 7px;
        background-position: 0px 0px, 200px bottom, 0px 100px, right 0px;
        animation: border-dance 6s ease-in-out;
        content: " ";
        position: absolute;
        bottom: 31px; }
      .mainArticle header h1 span {
        font-size: 0.45em;
        display: block;
        font-weight: 400; }
  .mainArticle .mainTxt {
    padding-left: 180px;
    position: relative;
    font-family: "Swis721 Cn BT";
    line-height: 28px;
    font-size: 1.2em; }
    .mainArticle .mainTxt:before {
      background: #e6e6e6;
      content: " ";
      height: 100%;
      left: 50px;
      position: absolute;
      top: 80px;
      width: 2px; }
    .mainArticle .mainTxt p {
      line-height: 28px;
      margin: 0 0 30px; }
    .mainArticle .mainTxt h2, .mainArticle .mainTxt h3 {
      line-height: 1em;
      font-family: "Playfair Display", serif; }
  .mainArticle .duvidasCnt {
    margin-left: -40px; }
    .mainArticle .duvidasCnt ul {
      padding: 0;
      overflow: hidden; }
    .mainArticle .duvidasCnt li {
      list-style: none; }
    .mainArticle .duvidasCnt h2 {
      font-size: 3em;
      margin-bottom: 20px; }
    .mainArticle .duvidasCnt h3 {
      font-size: 1.8em;
      margin-bottom: 10px;
      color: #4e4d4d; }
    .mainArticle .duvidasCnt .respostaInt {
      font-family: "Swis721 Cn BT";
      display: block; }

#tratamento .mainArticle header h1:after {
  left: calc(100% + 100px); }

.tratIndicados {
  background: #f1f3f5;
  position: relative;
  width: 100%;
  text-align: center; }
  .tratIndicados h2 {
    display: inline-block; }
  .tratIndicados ul {
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .tratIndicados ul li {
      width: 23%;
      transition: 0.3s ease-inpu-out;
      display: inline-block;
      float: none;
      list-style: none;
      margin: 0 0 50px 0; }
    .tratIndicados ul a {
      display: block;
      overflow: hidden;
      position: relative; }
      .tratIndicados ul a img {
        display: inline-block; }
      .tratIndicados ul a:hover .titleBox {
        transform: translateY(0); }
    .tratIndicados ul .lkMais {
      display: inline-block;
      margin-top: 20px; }
  .tratIndicados .brush-down-arrow-trat {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%); }

.titleBox {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 40px 0 25px;
  transition: 0.3s;
  transform: translateY(100%);
  background: rgba(149, 149, 149, 0.6);
  text-align: center;
  color: #fff;
  font-family: light;
  text-transform: uppercase;
  font-family: "Swis721 Roman BT"; }
  .titleBox span {
    text-transform: capitalize;
    font-family: "Swis721 Cn BT";
    display: block;
    font-size: 2.2em;
    margin-bottom: 5px; }

.grid {
  width: 100%;
  min-height: 100%;
  background: url(../img/362.gif) no-repeat center; }

.grid-sizer {
  width: 25%; }

.grid-item {
  width: 25%;
  background: url();
  opacity: 1;
  float: left;
  overflow: hidden;
  transition: 0.2s;
  animation: show-in 1.5s; }
  .grid-item img,
  .grid-item a {
    width: 100%;
    float: left; }
    .grid-item img:hover .titleBox,
    .grid-item a:hover .titleBox {
      transform: translateY(0); }

/* 2 columns wide */
.grid-item--width2 {
  width: 40%; }

#marcarConsulta {
  width: 100%;
  display: block;
  background: #e6393b;
  color: #000;
  padding: 65px 0;
  overflow: hidden; }
  #marcarConsulta .txtLeft {
    width: 405px;
    float: left;
    margin-right: -130px;
    padding: 0 36px; }
  #marcarConsulta h2 {
    font-size: 4em;
    width: 100%;
    line-height: 1.3em;
    margin: 0;
    font-weight: light; }
  #marcarConsulta p {
    margin: 20px 0;
    line-height: 1.2em;
    font-size: 1.7em;
    font-family: "Swis721 Hv BT"; }

.txtAlter {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  font-family: "Swis721 Lt BT";
  display: none; }
  .txtAlter strong {
    font-family: "Swis721 Hv BT"; }

.formConsulta {
  overflow: hidden;
  position: relative;
  border: 1px #fff dashed;
  border-right: none; }
  .formConsulta .label-cnt-form {
    width: 75%;
    display: inline-block; }
    .formConsulta .label-cnt-form .cntForm {
      width: 50%;
      float: left; }
    .formConsulta .label-cnt-form label {
      float: left;
      width: 100%; }
      .formConsulta .label-cnt-form label input,
      .formConsulta .label-cnt-form label select {
        height: 70px;
        font-family: "Swis721 Roman BT";
        float: right;
        margin: 20px 0;
        width: 390px;
        max-width: 100%;
        background: #fff;
        border: none;
        text-align: center;
        color: #8a8a8a;
        font-size: 1.3em;
        line-height: 70px;
        padding: 0; }
  .formConsulta .bt-cnt-submit {
    width: 20%;
    height: 145px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px #fff dashed;
    border-right: none; }
    .formConsulta .bt-cnt-submit:hover input[type="submit"] {
      color: rgba(255, 255, 255, 0.7);
      background-image: url(../img/button-left-white.png); }
  .formConsulta input[type="submit"] {
    margin-top: 53px;
    cursor: pointer;
    font-size: 1.6em;
    margin-left: 33px;
    border: none !important;
    background-color: transparent; }
    .formConsulta input[type="submit"]:hover {
      color: #fff !important; }

.formContato label {
  margin: 10px;
  display: block; }
.formContato input {
  padding: 6px 0;
  text-indent: 10px;
  border: none;
  border-radius: 6px;
  display: block;
  font-size: 1em;
  width: 100%; }
  .formContato input[type="submit"] {
    padding: 5px 20px;
    text-align: center;
    background: #fff;
    border: none;
    text-indent: 0;
    margin: 20px auto;
    width: auto;
    cursor: pointer;
    font-size: 1.2em; }
    .formContato input[type="submit"]:hover {
      color: #01a89e; }
.formContato textarea {
  border-radius: 6px;
  margin-top: 10px;
  border: none;
  padding: 10px;
  width: calc(100% - 60px);
  height: 100px;
  resize: none; }

#footer {
  border-top: 90px solid #f1f3f5;
  bottom: 0;
  left: 0;
  width: 100%;
  float: left; }
  #footer a {
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    margin: 10px;
    padding: 10px; }
  #footer h4 {
    margin: 0;
    font-family: "Swis721 Lt BT";
    display: block;
    font-size: 2.8em; }
    #footer h4 strong {
      font-family: "Swis721 Hv BT";
      color: #e6393b; }
  #footer .signature a {
    padding: 0;
    margin: 0 80px 0; }
  #footer .bottomLine {
    padding: 10px 0 15px;
    text-align: center;
    width: 100%;
    clear: both;
    display: block;
    color: #e6393b;
    font-size: 1.4em;
    line-height: 1.2em;
    border-top: 2px solid #a3a4a4;
    font-family: "Swis721 Lt BT"; }
    #footer .bottomLine strong {
      font-family: "Swis721 Hv BT"; }

.box-sigaNos,
.box-news {
  display: inline-block;
  margin: 65px 0 30px;
  vertical-align: top; }
  .box-sigaNos a,
  .box-news a {
    position: relative; }
    .box-sigaNos a span,
    .box-news a span {
      position: absolute;
      bottom: -20px;
      transform: translateX(-50%);
      left: 50%;
      font-family: "Swis721 Lt BT";
      font-size: 0.6em;
      color: #e6393b;
      white-space: nowrap; }
      .box-sigaNos a span strong,
      .box-news a span strong {
        font-family: "Swis721 Hv BT"; }

.box-news {
  margin-left: 100px;
  text-align: center; }
  .box-news form {
    margin: 20px auto 10px;
    position: relative;
    display: inline-block; }
    .box-news form input {
      background: #f1f3f5;
      height: 66px;
      padding-right: 60px;
      line-height: 66px;
      width: 400px;
      font-size: 1.6em;
      color: #e6393b;
      text-align: center;
      font-family: "Swis721 Lt BT";
      border: none; }
      .box-news form input[type="submit"] {
        background: #e6393b url(../img/right-arrow.png) center no-repeat;
        width: 60px;
        border: none;
        position: absolute;
        right: 0;
        top: 0; }
  .box-news p {
    font-family: "Swis721 Lt BT";
    color: #e6393b;
    font-size: 1.5em;
    display: inline-block;
    margin: 0;
    max-width: 420px; }
    .box-news p strong {
      font-family: "Swis721 Hv BT"; }

.topoDoSite {
  background: url(../img/top-arrow.png) center no-repeat;
  position: fixed;
  right: 10px;
  bottom: 84px;
  width: 60px;
  height: 60px;
  display: none;
  cursor: pointer;
  z-index: 1; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: fontAwesome;
  font-size: 5em;
  padding: 20px 10px;
  color: #E5E6E8; }

.owl-prev {
  left: -50px; }

.owl-next {
  right: -50px; }

.owl-pagination {
  position: absolute;
  bottom: 35px;
  right: 5px;
  text-align: right; }

.owl-page {
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
  opacity: 1; }
  .owl-page.active {
    background: #01a89e; }

.mainArticle header h1 {
  font-size: 4.8em; }

@media only screen and (max-width: 1700px) {
  #mediaContainer .brush-up-arrow {
    bottom: 0;
    right: -40px; }

  .formConsulta {
    float: right;
    max-width: calc(100% - 439px);
    padding-left: 80px; }
    .formConsulta .label-cnt-form label input,
    .formConsulta .label-cnt-form label select {
      max-width: 90%; } }
@media only screen and (max-width: 1500px) {
  #problema .mainArticle {
    padding-left: 100px;
    padding-top: 100px; }
    #problema .mainArticle header:before {
      bottom: 6px;
      left: 0; }
    #problema .mainArticle .duvidasCnt {
      margin-left: 0; }

  #marcarConsulta .txtLeft {
    width: 285px; }
    #marcarConsulta .txtLeft h2 {
      font-size: 2.3em; }
    #marcarConsulta .txtLeft p {
      font-size: 1.2em; }

  .formConsulta {
    max-width: calc(100% - 332px); }
    .formConsulta .label-cnt-form label input,
    .formConsulta .label-cnt-form label select {
      max-width: 85%;
      margin-top: 15px;
      margin-bottom: 15px; }

  .mainArticle header h1 {
    font-size: 4em; }
  .mainArticle .duvidasCnt h3 {
    font-size: 1.5em; }
  .mainArticle .duvidasCnt h2 {
    font-size: 2em; }

  h2 {
    font-size: 2em; }

  .lkMais {
    background-size: 30px auto !important;
    font-size: 1em;
    padding-right: 35px !important; }

  #linksDestaques .itemDestHome {
    height: 410px; }
  #linksDestaques h2 {
    font-size: 2.9em; }
  #linksDestaques span {
    font-size: 1.3em; }

  .box-news {
    margin-left: 0; }

  #footer h4 {
    font-size: 2.3em; }
  #footer .bottomLine {
    font-size: 1em;
    padding: 20px 40px;
    width: auto;
    max-width: 100%; }

  .tratIndicados ul li img {
    height: auto;
    width: 100%; }
  .tratIndicados .titleBox span {
    font-size: 1.4em; } }
@media only screen and (max-width: 1300px) {
  .containerNav .mainNav {
    text-align: right;
    padding-right: 180px; }

  #header.capaSite.active #logo-site h1 img {
    width: 200px; }

  .titleBox span {
    font-size: 1.2em; } }
@media only screen and (max-width: 1024px) {
  .grid-sizer {
    width: 33.33333%; }

  .grid-item {
    width: 33.33333%; }

  #footer .c50p {
    width: 100%; }
  #footer .tal {
    text-align: center; }

  .mainArticle .mainTxt {
    padding-left: 120px; }

  #marcarConsulta {
    padding: 0;
    text-align: center; }
    #marcarConsulta .txtLeft {
      float: none;
      max-width: 100%;
      text-align: center;
      padding: 20px;
      width: calc(100% - 40px);
      color: #fff; }
      #marcarConsulta .txtLeft p {
        display: none; }
    #marcarConsulta .txtAlter {
      display: block; }
    #marcarConsulta .formConsulta {
      width: 100%;
      max-width: 100%;
      padding: 0;
      border: none;
      text-align: center; }
      #marcarConsulta .formConsulta .label-cnt-form {
        width: 100%;
        padding: 0 20px;
        max-width: calc(100% - 40px); }
        #marcarConsulta .formConsulta .label-cnt-form label input,
        #marcarConsulta .formConsulta .label-cnt-form label select {
          width: 100%;
          margin: 10px;
          max-width: calc(100% - 20px); }
      #marcarConsulta .formConsulta .bt-cnt-submit {
        float: none;
        display: block;
        border: none;
        width: 100%;
        position: relative;
        text-align: center;
        transform: none;
        height: auto;
        margin-top: 0;
        height: 90px; }
        #marcarConsulta .formConsulta .bt-cnt-submit input {
          border: 1px dashed #fff !important;
          font-size: 2em;
          width: 390px;
          padding: 20px !important;
          max-width: calc(100% - 40px);
          background-size: auto;
          margin: 0;
          height: auto;
          float: none;
          background: none;
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: #fff; }
          #marcarConsulta .formConsulta .bt-cnt-submit input:hover {
            color: #fff; }
        #marcarConsulta .formConsulta .bt-cnt-submit:after {
          position: absolute;
          top: 50%;
          left: calc(50% + 110px);
          transform: translate(-50%, -50%);
          width: 40px;
          height: 40px;
          z-index: 0;
          content: " ";
          background: url("../img/button-left-white.png") center; }

  #header.active .containerNav {
    left: 0%;
    top: 110px;
    width: 280px;
    max-width: 70%;
    height: 100%;
    overflow: auto; }

  .containerNav .mainNav {
    text-align: left;
    padding: 49px 0 10px; }
    .containerNav .mainNav li {
      margin: 0;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #9c9c9e; }
      .containerNav .mainNav li a {
        padding: 10px 20px;
        display: block;
        max-width: 100%; }
        .containerNav .mainNav li a:hover {
          color: #e6393b; }
      .containerNav .mainNav li .closeCntUls {
        display: block; }
      .containerNav .mainNav li .containerUls {
        transition: 0.2s ease;
        top: 0;
        text-align: left;
        left: -100%;
        background: #ebebeb;
        position: absolute;
        padding: 0;
        width: 250px;
        width: 100%;
        max-width: 100%; }
      .containerNav .mainNav li.active a:after {
        display: none; }
      .containerNav .mainNav li.active .containerUls {
        position: relative;
        left: 0%;
        top: 0; }
        .containerNav .mainNav li.active .containerUls ul {
          display: block; }
      .containerNav .mainNav li.active .closeCntUls {
        background: #ebebeb; }
        .containerNav .mainNav li.active .closeCntUls:after {
          height: 2px; }
      .containerNav .mainNav li.active li {
        border-bottom: 1px solid #fff;
        border-top: none; }
      .containerNav .mainNav li:last-child {
        border-bottom: none; }

  #closeNav.noBg,
  #openNav.noBg {
    background: none !important; }
    #closeNav.noBg.active,
    #openNav.noBg.active {
      left: 0;
      transform: translateX(0);
      top: 110px; }

  #openNav.active {
    width: 250px;
    max-width: calc(70% - 30px);
    background: #e6393b !important;
    text-align: right;
    left: 0;
    transform: none;
    top: 110px;
    color: #000 !important; }
    #openNav.active div {
      left: -30px;
      background: #000 !important; }
      #openNav.active div:after, #openNav.active div:before {
        background: #000 !important; }

  .containerNav {
    top: 110px;
    left: -100%;
    max-height: calc(100% - 110px);
    background: #fff; }

  .titleBox {
    animation: show-in-translateY 4s ease;
    transform: translateY(0);
    padding: 20px 10px;
    max-width: calc(100% - 20px); }
    .titleBox span {
      font-size: 1.3em;
      margin: 0 0 11px;
      line-height: 1em; } }
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .tratIndicados ul li {
    width: calc(33% - 10px);
    padding: 0 5px; }
    .tratIndicados ul li:neth-child(3n+1) {
      clear: both; }
    .tratIndicados ul li img {
      height: auto; } }
@media only screen and (min-width: 1023px) and (max-width: 1250px) {
  .mainArticle header h1 {
    font-size: 3em; } }
@media only screen and (max-width: 1023px) {
  #article h2 {
    font-size: 3em; }
  #article .innerMedia {
    width: 100%; }

  #problema .bkLink {
    display: none; }
  #problema #mediaContainer .mediaImage {
    width: 100%;
    max-width: calc(100% - 140px); }
    #problema #mediaContainer .mediaImage:after {
      width: calc(100% - 35px); }
    #problema #mediaContainer .mediaImage img {
      width: 100%;
      max-width: 100%; }
  #problema .mainArticle {
    display: inline-block;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px; }
    #problema .mainArticle .mainTxt p {
      padding-left: 110px; }
    #problema .mainArticle:before {
      display: none; }
    #problema .mainArticle .duvidasCnt {
      margin-left: 0; }
      #problema .mainArticle .duvidasCnt p {
        padding-left: 0; }
      #problema .mainArticle .duvidasCnt ul li {
        width: 100%; }
    #problema .mainArticle header:before {
      bottom: -14px; }
    #problema .mainArticle header h1 {
      max-width: calc(100% - 40px); }
      #problema .mainArticle header h1:after {
        transform: translate(0, 50%); }

  #tratamento {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%; }
    #tratamento .bkLink {
      position: absolute; }
    #tratamento .mainArticle {
      padding-left: 20px;
      padding-right: 20px; }
      #tratamento .mainArticle header:before {
        left: 0; }
      #tratamento .mainArticle .mainTxt:before {
        display: none; }
      #tratamento .mainArticle .duvidasCnt p {
        padding-left: 0; }
      #tratamento .mainArticle .duvidasCnt ul li {
        width: 100%; }
    #tratamento #mediaContainer {
      padding: 37px 20px 73px 90px; }
      #tratamento #mediaContainer .skewLine {
        bottom: 40px; }
    #tratamento .relacionados {
      margin: 0 40px;
      max-width: 100%; }

  .duvidasCnt h2 {
    font-size: 3em; }

  .HideMobile {
    display: none; }

  .ShowMobile {
    display: block; }

  body.popUpTrue #mediaPopUp {
    width: 100%;
    z-index: 99;
    padding-top: 0;
    top: 0;
    left: 0;
    transform: none; }
    body.popUpTrue #mediaPopUp .formConsulta {
      width: 100%;
      max-width: 100%;
      padding: 0;
      border: none;
      text-align: center; }
      body.popUpTrue #mediaPopUp .formConsulta .label-cnt-form {
        width: 100%;
        padding: 0 20px;
        max-width: calc(100% - 40px); }
        body.popUpTrue #mediaPopUp .formConsulta .label-cnt-form label input,
        body.popUpTrue #mediaPopUp .formConsulta .label-cnt-form label select {
          width: 100%;
          margin: 10px;
          max-width: calc(100% - 20px); }
      body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit {
        float: none;
        display: block;
        border: none;
        width: 100%;
        position: relative;
        text-align: center;
        height: auto;
        margin-top: 0;
        height: 90px; }
        body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit input {
          border: 1px dashed #fff !important;
          font-size: 2em;
          width: 390px;
          padding: 0 !important;
          max-width: calc(100% - 40px);
          background-size: auto;
          margin: 0;
          height: 90px;
          float: none;
          background: none;
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: #fff; }
          body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit input:hover {
            color: #fff; }
        body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit:after {
          position: absolute;
          top: 50%;
          left: calc(50% + 110px);
          transform: translate(-50%, -50%);
          width: 40px;
          height: 40px;
          z-index: 0;
          content: " ";
          background: url("../img/button-left-white.png") center; } }
@media only screen and (max-width: 767px) {
  #closeNav,
  #openNav {
    right: 0; }
    #closeNav.noBg,
    #openNav.noBg {
      top: 115px;
      right: auto;
      left: 50%;
      transform: translateX(-50%); }
    #closeNav div,
    #openNav div {
      width: 30px;
      height: 3px; }
      #closeNav div:before, #closeNav div:after,
      #openNav div:before,
      #openNav div:after {
        width: 30px;
        height: 3px; }
      #closeNav div:after,
      #openNav div:after {
        top: 8px; }
      #closeNav div:before,
      #openNav div:before {
        top: -8px; }

  .capaSite {
    padding: 56px 0 0 0;
    height: 60px;
    text-align: center; }
    .capaSite #logo-site {
      margin: 0 auto !important;
      display: inline-block;
      text-align: center; }
      .capaSite #logo-site img {
        width: 180px; }

  #marcarConsulta .formConsulta label,
  #marcarConsulta .formConsulta .cntForm,
  body.popUpTrue #mediaPopUp .formConsulta label,
  body.popUpTrue #mediaPopUp .formConsulta .cntForm {
    width: 100%; }
    #marcarConsulta .formConsulta label input,
    #marcarConsulta .formConsulta label select,
    #marcarConsulta .formConsulta .cntForm input,
    #marcarConsulta .formConsulta .cntForm select,
    body.popUpTrue #mediaPopUp .formConsulta label input,
    body.popUpTrue #mediaPopUp .formConsulta label select,
    body.popUpTrue #mediaPopUp .formConsulta .cntForm input,
    body.popUpTrue #mediaPopUp .formConsulta .cntForm select {
      line-height: 55px;
      height: 55px;
      font-size: 1.2em; }
  #marcarConsulta .formConsulta .label-cnt-form,
  body.popUpTrue #mediaPopUp .formConsulta .label-cnt-form {
    max-width: calc(100% - 20px);
    padding: 0 10px; }
  #marcarConsulta .formConsulta .bt-cnt-submit input,
  body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit input {
    line-height: 22px;
    font-size: 22px;
    height: 60px; }
  #marcarConsulta .formConsulta .bt-cnt-submit:after,
  body.popUpTrue #mediaPopUp .formConsulta .bt-cnt-submit:after {
    background-repeat: no-repeat;
    width: 42px; }
  #marcarConsulta .txtLeft h2,
  body.popUpTrue #mediaPopUp .txtLeft h2 {
    font-size: 2em; }
  #marcarConsulta .formPopContainer,
  body.popUpTrue #mediaPopUp .formPopContainer {
    padding: 0 0 60px; }
    #marcarConsulta .formPopContainer h2,
    body.popUpTrue #mediaPopUp .formPopContainer h2 {
      font-size: 2em; }
  #marcarConsulta .mediaPopUp h2,
  body.popUpTrue #mediaPopUp .mediaPopUp h2 {
    font-size: 2em; }

  #linksDestaques span {
    margin-left: 0;
    margin-bottom: 20px; }
  #linksDestaques .itemDestHome {
    display: none;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    animation: toggle-left 1s ease-in-out; }
    #linksDestaques .itemDestHome.current {
      display: block; }
    #linksDestaques .itemDestHome.current:after, #linksDestaques .itemDestHome:hover:after {
      top: auto !important;
      bottom: 15px !important;
      right: 0 !important;
      animation: none !important;
      width: calc(100% - 50px) !important;
      height: 70px !important;
      display: none; }
    #linksDestaques .itemDestHome .centerFix {
      left: auto;
      transform: none;
      max-width: 100%;
      padding-top: 0;
      margin: 0 20px 0 50px; }
  #linksDestaques .lkMais {
    bottom: 0px;
    float: right;
    right: -20px;
    position: relative;
    width: calc(100% - 43px);
    text-align: right;
    height: 70px;
    line-height: 70px;
    animation: show-in-txt-bt 0.8s ease;
    padding-right: 62px !important;
    background-position: calc(100% - 20px) center;
    background-color: rgba(242, 60, 63, 0.8);
    font-size: 1.1em; }
    #linksDestaques .lkMais:hover {
      color: #fff; }

  .grid {
    width: 100%; }

  .grid-item,
  .grid-sizer {
    width: 100%; }

  #header.insidePage {
    padding: 16px 0 9px !important; }
    #header.insidePage #logo-site {
      margin-left: 20px; }
      #header.insidePage #logo-site h1 img {
        width: 100px; }

  #openNav.insidePage {
    top: 14px; }
    #openNav.insidePage.active {
      top: 110px; } }
@media only screen and (max-width: 600px) {
  #problema #mediaContainer,
  #tratamento #mediaContainer {
    padding-bottom: 20px; }
    #problema #mediaContainer .mediaImage,
    #tratamento #mediaContainer .mediaImage {
      padding: 10px 0 10px 10px;
      max-width: calc(100% - 30px); }
      #problema #mediaContainer .mediaImage:before,
      #tratamento #mediaContainer .mediaImage:before {
        width: 30%;
        right: 15px; }
      #problema #mediaContainer .mediaImage:after,
      #tratamento #mediaContainer .mediaImage:after {
        height: calc(100% - 83px);
        max-width: calc(100% - 9px); }
      #problema #mediaContainer .mediaImage span,
      #tratamento #mediaContainer .mediaImage span {
        background-position: center top;
        background-size: 50px;
        padding-top: 60px;
        font-size: 1.1em;
        white-space: nowrap; }
  #problema .mainArticle header:before,
  #tratamento .mainArticle header:before {
    width: 60px; }
  #problema .mainArticle header h1,
  #tratamento .mainArticle header h1 {
    min-height: 0;
    margin: 10px 0 15px;
    font-size: 3em; }
  #problema .mainArticle .mainTxt,
  #tratamento .mainArticle .mainTxt {
    padding-left: 0; }
    #problema .mainArticle .mainTxt p,
    #tratamento .mainArticle .mainTxt p {
      padding-left: 70px; }
  #problema .mainArticle .duvidasCnt,
  #tratamento .mainArticle .duvidasCnt {
    margin-left: 0; }
    #problema .mainArticle .duvidasCnt ul li .respostaInt,
    #tratamento .mainArticle .duvidasCnt ul li .respostaInt {
      width: 100%;
      max-width: 100%; }
      #problema .mainArticle .duvidasCnt ul li .respostaInt p,
      #tratamento .mainArticle .duvidasCnt ul li .respostaInt p {
        padding: 0; }

  #marcarConsulta {
    padding-bottom: 10px; }

  #tratamento #mediaContainer {
    padding: 55px 0 73px 10px; }

  .tratIndicados ul li {
    float: left;
    width: calc(50% - 10px);
    padding: 0 5px; }
    .tratIndicados ul li:nth-child(2n+1) {
      clear: both; }
    .tratIndicados ul li img {
      height: auto; }

  .relatedItem img {
    width: 100% !important;
    margin: 0; }
  .relatedItem div span {
    font-size: 1em; }

  .brush-up-arrow {
    display: none; }

  .respostaInt {
    width: 100%;
    max-width: 100%; }

  #linksDestaques .itemDestHome h2 {
    line-height: 1.1em; }

  #footer {
    border-top: 30px solid #f1f3f5; }
    #footer .box-news,
    #footer .box-sigaNos {
      margin: 30px 0 10px;
      width: 100%; }
      #footer .box-news h4,
      #footer .box-sigaNos h4 {
        font-size: 1.8em;
        margin-bottom: 10px; }
      #footer .box-news img,
      #footer .box-sigaNos img {
        max-width: 30px;
        max-height: 40px; }
      #footer .box-news form,
      #footer .box-sigaNos form {
        margin: 20px 10px 10px;
        max-width: calc(100% - 20px); }
        #footer .box-news form input,
        #footer .box-news form select,
        #footer .box-sigaNos form input,
        #footer .box-sigaNos form select {
          max-width: calc(100% - 66px);
          float: left;
          font-size: 1.4em;
          height: 52px;
          line-height: 52px;
          text-indent: 10px; }
          #footer .box-news form input[type="submit"],
          #footer .box-news form select[type="submit"],
          #footer .box-sigaNos form input[type="submit"],
          #footer .box-sigaNos form select[type="submit"] {
            height: 54px; }
      #footer .box-news a span,
      #footer .box-sigaNos a span {
        bottom: -11px; }
    #footer p {
      font-size: 1em;
      margin: 5px 20px; }
    #footer .tar.signature {
      margin-bottom: 20px;
      text-align: center; }
    #footer a {
      padding: 5px;
      margin: 5px; } }
@media only screen and (max-height: 640px) {
  #mediaPopUp .closePopUp {
    position: fixed; } }
@media only screen and (max-height: 480px) {
  #linksDestaques {
    padding-top: 10px; }
    #linksDestaques h2 {
      font-size: 2.1em; }
    #linksDestaques .itemDestHome.current, #linksDestaques .itemDestHome:hover {
      padding-bottom: 0; }
      #linksDestaques .itemDestHome.current:after, #linksDestaques .itemDestHome:hover:after {
        height: 50px;
        bottom: 0px; }
    #linksDestaques .itemDestHome .lkMais {
      bottom: 0;
      height: 50px !important;
      line-height: 50px !important; }

  #header.capaSite {
    padding: 14px 0 27px; }

  #openNav.noBg {
    top: 80px; }

  #backgroundSlider:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); } }
@media only screen and (max-width: 460px) {
  .relacionados .relatedItem {
    width: 100%;
    clear: both;
    margin-bottom: 15px; }
    .relacionados .relatedItem img {
      width: 100%; }
    .relacionados .relatedItem .lkMais {
      display: none; }

  .tratIndicados ul li {
    width: calc(100% - 20px);
    padding: 0 10px;
    clear: both; }
    .tratIndicados ul li img {
      height: auto;
      width: 100%; }

  #article h2,
  .duvidasCnt h2 {
    font-size: 1.5em; }
  #article h3,
  .duvidasCnt h3 {
    font-size: 1.2em; }
  #article .mainArticle,
  .duvidasCnt .mainArticle {
    padding-bottom: 0; }
    #article .mainArticle header h1,
    .duvidasCnt .mainArticle header h1 {
      font-size: 10vw; }
      #article .mainArticle header h1 span,
      .duvidasCnt .mainArticle header h1 span {
        font-size: 0.8em; }
    #article .mainArticle .mainTxt p,
    .duvidasCnt .mainArticle .mainTxt p {
      font-size: 0.9em;
      line-height: 1.4em;
      font-family: "Swis721 Roman BT"; } }

/*# sourceMappingURL=main.css.map */
